<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Visibilité limitée au service de reconnaissance vocale, pour le nommer dans l'avertissement de dictée. -->
    <queries><intent><action android:name="android.speech.action.RECOGNIZE_SPEECH" /></intent></queries>
    <application android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_keyra" android:roundIcon="@mipmap/ic_keyra" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.App_Clavier">
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:exported="false" /><activity android:name=".MediaInputActivity" android:exported="false" /><service android:name=".MintInputService" android:label="@string/app_name" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>
</manifest>


